/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mars 2017, 21:29:54
    Author     : leoes
*/

#maPhoto {
margin-right:10px;
}

#copyright {
    text-align:center;
}

#stage{
    font-size: 100px;
}

#android{
    font-size:100px;
    color: greenyellow;
}

#fond{
    text-align: center;
}

#app{
    margin-left: 35%;
}

#contact{
    font-size:100px;
    margin-left: 10px;
}

#bodycontact{
    margin-left: 50px;
    margin-top: 80px;
}

#competence,#introduction,#intro-bts,#cadre-envoi{
    margin-top:20px;
}

#web{
    margin-left: 11%;
}

.item{
    height: 600px;
}

#name,#subject,#email,#message{
    width: 150px;
}

#image-fond{
    background-image: url(images/informatique.jpg);
}

.jumbotron{
    background-color: white;
}

#arriere,#competence{
    background-color: lightgrey;
}

span.double{
    text-decoration: underline #000;
    border-bottom: 3px solid #000;
}

@media(min-width:500px) { #name,#subject,#email,#message{width: 350px;} }
@media(min-width:768px) { #name,#subject,#email,#message{width: 450px;} }
@media(min-width:992px) { #name,#subject,#email,#message{width: 600px;} }
@media(min-width:1200px) { #name,#subject,#email,#message{width: 800px;} }